* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: sans-serif;
}

p {
  margin-bottom: 16px;
}

.container {
  margin: auto;
  margin-top: 32px;
  width: 750px;
  position: relative;
}

.container::before {
  content: "SALE";
  position: absolute;
  top: -15px;
  left: -30px;
  display: inline-block;
  padding: 5px 10px;
  letter-spacing: 3px;
  background-color: red;
  font-weight: bold;
  color: #fff;
}

.article {
  border: 4px solid #000;
}

.article-title {
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.article-price {
  font-size: 24px;
  margin-top: 16px;
}

.article-shipping {
  color: #7a7a7a;
  text-transform: uppercase;
  font-weight: bold;
}

.article-details {
  text-transform: uppercase;
  margin: 24px 0 16px 0;
}

.article-more__info:link,
.article-more__info:visited {
  color: #333;
  display: inline-block;
  margin-bottom: 16px;
}

.article-more__info:hover,
.article-more__info:active {
  text-decoration: none;
}

.article-colors div {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.article-colors div:last-child {
  margin-right: 0;
}

.article-colors__black {
  background-color: black;
}

.article-colors__blue {
  background-color: blue;
}

.article-colors__red {
  background-color: red;
}

.article-colors__yellow {
  background-color: rgb(216, 216, 39);
}

.article-colors__green {
  background-color: green;
}

.article-colors__brown {
  background-color: brown;
}

ul {
  margin-bottom: 16px;
}

li {
  margin-left: 24px;
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}

button {
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: none;
  border-top: 4px solid #000;
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

button:hover {
  background-color: #fff;
  color: #000;
}
